.careers {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 4em;
    padding-top: 0;
    padding-bottom: 4em;
}

.careers-title1 {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    line-height: 5rem;
    font-size: 4em;
    text-align: center;

}
.careers-title {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    line-height: 5rem;
    font-size: 4em;
    text-align: center;
    padding-top: 4rem;

}
.careers-title-job{
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    line-height: 5rem;
    font-size: 4em;
    text-align: center;
    
}
.careers-description1{

    padding-left: 12em;
    padding-right: 12em;
    /* font-style: italic; */
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    font-size: 1.5em;
    text-align: center;
}
.careers-description{


    /* font-style: italic; */
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    font-size: 1.5em;
    text-align: center;
}

.careers-card-body{
    padding-top: 1rem ;
}
.careers-card-description h1 {
    font-weight: 700;
    font-family: 'Alata', sans-serif;
}

.careers-card-description p{
    margin-bottom: 0 ;
    padding-top: 1rem;
}

.careers-all-col{
    margin-top: 2rem;
    
}

.careers-col{
    /* border: solid 1px rebeccapurple; */
    text-align: center;
    padding: 4rem;
    
}
.careers-button{
    color: white;
    text-decoration: none;
    background-color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 1rem;
    width: 100%;
    height: 3rem;
}

.careers-card{
    border: solid 0.1px rgba(102, 51, 153, 0.404) ;  
    background-color: rgba(128, 128, 128, 0.068);
    
}

.careers-card-content{
    margin: 2em;
   
}

@media only screen and (max-width: 992px) {
    .careers{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        padding-bottom: 0rem;
    }
    .careers-description1{

        padding-left: 0em;
        padding-right: 0em;
        font-size: .7em;
        text-align: center;
    }
    .careers-title{
        padding-top: 0rem;
        font-size: 2rem;
    line-height: 2.5rem;

    }
    .careers-col{
        padding: 0rem;
    }
    .careers-description{
        font-size: .7rem;
    }
}