@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');


.ClientFeedback {
    padding-top: 2em;
    padding-bottom: 120px;
    margin-left: 6em !important;
    margin-right: 6em !important;

}


.ClientFeedback-title {
    
    font-weight: 300;
    line-height: 5rem;
    font-size: 4em;
    text-align: center;

}

.ClientFeedback-subtitle {
    font-family: 'Alata', sans-serif;

    font-weight: 700;
    line-height: 5rem;
    font-size: 4em;
    text-align: center;
    padding-bottom: 72px;
}

.card-img-top {
    height: 6em;
    width: 6em;
    background-color: black;
    border-radius: 10px;
}

.ClientFeedback-img {
    height: 10em;
    width: 10em;
    border-radius: 100px;
    background: black;
    margin: 2rem;
    margin-bottom: 0 !important;
}

.ClientFeedback-description{
    font-size: 1.5em;
    font-style: italic;
    
}

.ClientFeedback-col-rightside{
   padding-top: 2rem;
   margin-left: 2rem;
   width: 70%;
}
.ClientFeedback-col-rightside p{
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    margin-bottom: 8px !important;

}
.ClientFeedback-col-rightside h2{
    font-family: 'Alata', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    
}
.star{
    width: fit-content;
    padding-top: 0;
    margin-top: 0;
    color: gold;
}
.ClientFeedbackcontent-card{
    border: solid 0.1px rgba(102, 51, 153, 0.404) ;


}
@media only screen and (max-width: 992px) {
    .ClientFeedback{
        margin-left: 2em !important;
    margin-right: 2em !important;
    padding-bottom: 2em;

    }
    .ClientFeedback-title {
        font-size: 2em;
        margin-top: 0;
        line-height: 2rem !important;
        margin-bottom: 0;
    }

    .ClientFeedback-subtitle {
        font-size: 2em;
        font-weight: 700;
        line-height: 2rem ;
        margin-top: 0;
        margin-bottom: 3rem;
        padding-bottom: 0;
    }
    .ClientFeedback-img {
     height: 6em;
    width: 6em;
    margin: 1em;
    }
    .ClientFeedback-col-rightside{
        padding-top: 0;
        text-align: center !important;
        margin-left: 3.5em ;
        
    }
    .ClientFeedback-col-rightside h2{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .ClientFeedback-col-rightside p{
        font-size: 1rem;
        margin-bottom: 2px !important;
    }
    .ClientFeedback-description{
        font-size: 0.7em;
    }
    .ClientFeedbackcontent-card{
        text-align: center;
    }
    .star{
        width: auto;
    }
  
}

/* .Feedbackswiper-description{
    padding-left: 10em;
    padding-right: 10em;
    font-size: 2rem;
    font-style: italic;
  }

.sampleimg{
    height: 10em;
    width: 10em;
    border-radius: 100px;
    background: black;
  margin-top: 4rem;
  margin-bottom: 2rem;
  } */