.footer-title {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
}

.footer-subtitle {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 3em;
}
.footer-description{
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    font-size: 1em;
    
}

.footer{   
   
    background-color: rgb(240, 240, 240);
    margin-top: 6em;
    
    
}
.footer-col{
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    padding-top: 6em;
    padding-bottom: 6em;

}

.footer-col a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Alata', sans-serif;

    color: #000;
    opacity: 60%;
    
}

.footer-col p{
    color: #000;
    /* opacity: 60%; */
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-right: 20rem;
    font-style: italic

}
.footer-col h3{
    color: #000;

    font-weight: 800;
    font-family: 'Alata', sans-serif;
    
}

@media only screen and (max-width: 992px) {
    .footer-col{
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }
    .footer-col h3{
        font-size: 1rem;
    }
    .footer-col a{
        font-size: .6rem;
    }
.footer-col p{
    padding-right: 0;
    font-size: .6rem;
    margin-bottom: 0;
}
.footer-col-right-content h3{
    padding-top: 1rem;
}

}